@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --secondary: #fde047;
  --third: #fdb665;
  --greyText: #b7c4ce;
  --ourProducts: #fef9c3;
  --ourServiceHeader: #dbeafe;
  --sixth: #3b82f6;
  --fourth: #fb7813;
  --fifth:#f87865;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button{
  @apply transition-all duration-[300ms] ease-in
 
}
.hoverUp{
  @apply hover:-translate-y-[4px] duration-[300ms] ease-in
}